h1{
    color: #065b16;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.container{
    padding-top: 3rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.inscription_div{
    justify-content: center;
    display: flex;
}

input{
    margin-bottom: 3rem;
}