h1{
    margin: 3rem;
    font: italic 3rem "Fira Sans", serif;
    text-align: center;
}

h2{
    margin-bottom: 2rem;
}

h4{
    text-decoration: underline;
}

ul{
    list-style-type:none;
}

.note_utilisateur{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.date_avis{
    width: 70%;
    text-align: center;
}

.avis_utilisateur{
    text-align: justify;
    padding: 1rem;
    border: solid black;
}